<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="site.css" />
<title>$settings[sitename]</title>
</head>
<table width="100%" border="0" align="center" cellpadding="4"
	cellspacing="0" bordercolor="#3D64D8">
	<tr bgcolor="#839CE7">
		<td>$settings[sitename]</td>
		<td align='right'>学号：$studentId  姓名：$user</td>
	</tr>
</table>
<br />